.task-name {
  font-size: 30px;
  border: solid;
  background-color: yellow;
}

.task-detail {
  font-size: 12px;
  border: solid;
}

.card {
  width: 300px;
  padding: 10px 20px;
  margin: 0px;
  border-collapse: collapse;
}
